# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info
dist/
build/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/

# Environment and dependency files
*.env
.env/
venv/
env/
*.conda
*.pyenv
*.venv

# IDE/editor directories
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.swp

# OS-specific files
.DS_Store
Thumbs.db
